body{
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  z-index: 9999;
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

.preloader.hidden {
  opacity: 0;
  pointer-events: none;
}

.app-container {
  position: relative;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  min-height: 100vh; /* Ensures the container takes up full height */
}

.app-content {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.app-content.hidden {
  opacity: 0;
}
